In [13]:
import pandas as pd
from tqdm import tqdm_notebook

prefix = 'data/'

In [14]:
file_patch = 'gpt2_generated_final.csv'
train_df = pd.read_csv(prefix + file_patch, header=None)
train_df.head()

   0  1                                                  2
0  0  0  Boeing's 737 MAX, which is due to be delivered...
1  1  0  An international immigration lawyer says that ...
2  2  0  An Easter egg hunt that should have been close...
3  3  0  The party that believes that the life of the m...
4  4  1  Theresa May today launched a radical new packa...

In [15]:
file_patch = 'gpt2_generated_final.csv'
test_df = pd.read_csv(prefix + file_patch, header=None)
test_df.head()

   0  1                                                  2
0  0  0  Boeing's 737 MAX, which is due to be delivered...
1  1  0  An international immigration lawyer says that ...
2  2  0  An Easter egg hunt that should have been close...
3  3  0  The party that believes that the life of the m...
4  4  1  Theresa May today launched a radical new packa...

In [16]:
train_df.head()

   0  1                                                  2
0  0  0  Boeing's 737 MAX, which is due to be delivered...
1  1  0  An international immigration lawyer says that ...
2  2  0  An Easter egg hunt that should have been close...
3  3  0  The party that believes that the life of the m...
4  4  1  Theresa May today launched a radical new packa...

In [17]:
train_df = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df[1],
    'alpha':['a']*train_df.shape[0],
    'text': train_df[2].replace(r'\n', ' ', regex=True)
})

train_df.head()

   id  label alpha                                               text
0   0      0     a  Boeing's 737 MAX, which is due to be delivered...
1   1      0     a  An international immigration lawyer says that ...
2   2      0     a  An Easter egg hunt that should have been close...
3   3      0     a  The party that believes that the life of the m...
4   4      1     a  Theresa May today launched a radical new packa...

In [18]:
dev_df = pd.DataFrame({
    'id':range(len(test_df)),
    'label':test_df[1],
    'alpha':['a']*test_df.shape[0],
    'text': test_df[2].replace(r'\n', ' ', regex=True)
})

dev_df.head()

   id  label alpha                                               text
0   0      0     a  Boeing's 737 MAX, which is due to be delivered...
1   1      0     a  An international immigration lawyer says that ...
2   2      0     a  An Easter egg hunt that should have been close...
3   3      0     a  The party that believes that the life of the m...
4   4      1     a  Theresa May today launched a radical new packa...

In [12]:
train_df.to_csv('data/train.tsv', sep='\t', index=False, header=False, columns=train_df.columns)
dev_df.to_csv('data/dev.tsv', sep='\t', index=False, header=False, columns=dev_df.columns)