In [7]:
import pandas as pd
from tqdm import tqdm_notebook

prefix = 'data/'

In [8]:
train_df = pd.read_csv(prefix + 'train_gpt2_data_contr.csv', header=None)
train_df.head()

   0  1                                                  2
0  0  1  Heather Haddon, who runs the website MiMafia. ...
1  1  1  This past weekend's game between the Chicago C...
2  2  1  The U. S.  and European Union should have brou...
3  3  1  What do you think of the final product? Vote i...
4  4  1  The Fix: A successful Republican presidential ...

In [9]:
test_df = pd.read_csv(prefix + 'test_original_data_contr.csv', header=None)
test_df.head()

        0  1                                                  2
0  109999  0  MARK-TO-MARKET ACCOUNTING Speculation that the...
1  110000  0  But asked if he knew the disease could be tran...
2  110001  0  If a deal proves impossible, Johanns said, the...
3  110002  0  If he refuses to share them, Judge Kavanaugh m...
4  110003  0  More assets sales will follow from next busine...

In [10]:
train_df[0] = (train_df[0] == 2).astype(int)
test_df[0] = (test_df[0] == 2).astype(int)

In [11]:
train_df = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df[1],
    'alpha':['a']*train_df.shape[0],
    'text': train_df[2].replace(r'\n', ' ', regex=True)
})

train_df.head()

   id  label alpha                                               text
0   0      1     a  Heather Haddon, who runs the website MiMafia. ...
1   1      1     a  This past weekend's game between the Chicago C...
2   2      1     a  The U. S.  and European Union should have brou...
3   3      1     a  What do you think of the final product? Vote i...
4   4      1     a  The Fix: A successful Republican presidential ...

In [12]:
dev_df = pd.DataFrame({
    'id':range(len(test_df)),
    'label':test_df[1],
    'alpha':['a']*test_df.shape[0],
    'text': test_df[2].replace(r'\n', ' ', regex=True)
})

dev_df.head()

   id  label alpha                                               text
0   0      0     a  MARK-TO-MARKET ACCOUNTING Speculation that the...
1   1      0     a  But asked if he knew the disease could be tran...
2   2      0     a  If a deal proves impossible, Johanns said, the...
3   3      0     a  If he refuses to share them, Judge Kavanaugh m...
4   4      0     a  More assets sales will follow from next busine...

In [13]:
train_df.to_csv('data/train.tsv', sep='\t', index=False, header=False, columns=train_df.columns)
dev_df.to_csv('data/dev.tsv', sep='\t', index=False, header=False, columns=dev_df.columns)